<div class="relative overflow-hidden h-screen">
    <div class="bg-image absolute top-0 right-0 w-full h-screen bg-[url('/assets/img/0001.jpg')] bg-cover bg-center"></div>
    <div class="flex items-center justify-center w-full h-screen bg-black/70 absolute top-0 right-0">
        <div class="shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] rounded-lg overflow-hidden bg-white p-5 w-[550px]" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600">
            <div class="border-b pb-3 text-center">
                <img src="assets/img/logo.png" alt="" class="m-auto mb-4 max-w-[140px]">
                <p class="text-gray-500">log in with your data that you entered during your registration</p>
            </div>
            <form action="" class="pt-5" [formGroup]='sginInForm' (ngSubmit)="onSubmit()">        
                <div class="my-4">
                    <label for="email" class="mb-3 block">
                        <strong>Email</strong> 
                        <span class="text-red-600 ms-1">*</span>
                    </label>
                    <div class="">
                        <input formControlName="email" class="border rounded-lg w-full p-3" id="email" type="text" placeholder="">
                    </div>
                    <div *ngIf="sginInForm.get('email').invalid && sginInForm.get('email').touched">
                        <span class="text-red-600 block" *ngIf="sginInForm.get('email').errors.required">
                            Email is required.
                        </span>
                        <span class="text-red-600 block" *ngIf="sginInForm.get('email').errors.email">
                            Invalid email format.
                        </span>
                    </div>
                </div>
                <div class="my-4">
                    <label for="password" class="mb-3 block">
                        <strong>Password</strong> 
                        <span class="text-red-600 ms-1">*</span>
                    </label>
                    <div class="">
                        <input formControlName="password" class="border rounded-lg w-full p-3" id="password" type="password" placeholder="">
                    </div>
                    <div *ngIf="sginInForm.get('password').invalid && sginInForm.get('password').touched">
                        <span class="text-red-600 block" *ngIf="sginInForm.get('password').errors.required">
                            Password is required.
                        </span>
                        <span class="text-red-600 block" *ngIf="sginInForm.get('password').errors.minlength">
                            Password must be at least 6 characters long.
                        </span>
                    </div>
                </div>
                <div class="flex justify-center items-center py-4">
                    <button type="submit" [disabled]="sginInForm.invalid" class="bg-[#fb6d3a] rounded text-white px-[20px] py-[10px] w-[200px] shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] disabled:opacity-65">
                        Sgin In
                    </button>
                </div>
                <div class="flex items-center justify-between py-4">
                    <div class="flex items-center">
                        <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Keep me logged in ?</label>
                    </div>
                    <p class="m-0 text-sm">Forgot password ? <a routerLink="/auth/forget-password" class="text-[#fb6d3a] underline">Reset password</a></p>
                </div>
            </form>
            <div class="text-center my-4">
                <p>Don’t have an account ?</p>
                <a routerLink="/auth/sgin-up" class="text-[#fb6d3a] mt-2 inline-block underline">Sign Up</a>
            </div>
        </div>
    </div>
</div>