<header class="py-[20px] shadow">
  <div class="container">
    <div class="flex items-center justify-between">
      <div class="">
        <img src="/assets/img/logo.svg" class="max-w-[160px]" alt="" />
      </div>
      <div class="">
        <a class="mx-2" routerLink="home">Home</a>
        <a class="mx-2" routerLink="about">About</a>
        <a class="mx-2" routerLink="auth/sgin-in">Sgin In</a>
        <a class="mx-2" routerLink="auth/sgin-up">Sgin Up</a>
        <a class="mx-2" routerLink="user/profile">Profile</a>
        <a class="mx-2" routerLink="user/update-profile">update profile</a>
      </div>
    </div>
  </div>
</header>
