<header class="p-[37px] lg:p-[10px] sm:p-[20px] border-b">
    <div class="container relative z-30">
        <div class="flex items-center justify-between">
            <a routerLink="/">
                <img class="max-w-[100px]" src="assets/img/logo.png" alt="">
            </a>
            <div>
                <ul class="flex items-center">
                    <li>
                        <a routerLink="/" class="text-gray-400 mx-6 relative transition duration-500 hover:text-[#fb6d3a] after:block after:content-[''] after:absolute after:h-[2px] after:bg-[#fb6d3a] after:left-0 after:bottom-[-5px] after:w-[50%] after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center">
                            {{ 'HEADER.Home' | translate }}
                        </a>
                    </li>
                    <li>
                        <a routerLink="/about" class="text-gray-400 mx-6 relative transition duration-500 hover:text-[#fb6d3a] after:block after:content-[''] after:absolute after:h-[2px] after:bg-[#fb6d3a] after:left-0 after:bottom-[-5px] after:w-[50%] after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center">
                            {{ 'HEADER.About' | translate }}
                        </a>
                    </li>
                    <li>
                        <a routerLink="/categories" class="text-gray-400 mx-6 relative transition duration-500 hover:text-[#fb6d3a] after:block after:content-[''] after:absolute after:h-[2px] after:bg-[#fb6d3a] after:left-0 after:bottom-[-5px] after:w-[50%] after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center">
                            {{ 'HEADER.Categories' | translate }}
                        </a>
                    </li>
                    <li>
                        <a routerLink="/offers" class="text-gray-400 mx-6 relative transition duration-500 hover:text-[#fb6d3a] after:block after:content-[''] after:absolute after:h-[2px] after:bg-[#fb6d3a] after:left-0 after:bottom-[-5px] after:w-[50%] after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center">
                            {{ 'HEADER.Offers' | translate }}
                        </a>
                    </li>
                    <li>
                        <a routerLink="/contact" class="text-gray-400 mx-6 relative transition duration-500 hover:text-[#fb6d3a] after:block after:content-[''] after:absolute after:h-[2px] after:bg-[#fb6d3a] after:left-0 after:bottom-[-5px] after:w-[50%] after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center">
                            {{ 'HEADER.Contact' | translate }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="flex items-center">
                <div *ngIf="!isLogin" class="">
                    <a routerLink="auth/sgin-in" class="ms-4 bg-black rounded text-white px-[20px] py-[5px] shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]">
                        {{ 'HEADER.SignIn' | translate }}
                    </a>
                    <a routerLink="auth/sgin-up" class="ms-4 bg-[#fb6d3a] rounded text-white px-[20px] py-[5px] shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]">
                        {{ 'HEADER.SignUp' | translate }}
                    </a>
                </div>
                <div *ngIf="isLogin" class="flex items-center">
                    <a routerLink="/cart" class="ms-4 relative bg-black rounded text-white w-[40px] h-[40px] flex items-center justify-center shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="absolute top-[-5px] right-[-5px] rounded-full w-[17px] h-[17px] bg-white text-[#fb6d3a] text-[11px] flex items-center justify-center shadow-[0px_2px_3px_-1px_rgba(0,0,0,0.1),0px_1px_0px_0px_rgba(25,28,33,0.02),0px_0px_0px_1px_rgba(25,28,33,0.08)]">
                            {{valueCartItem}}
                        </span>
                    </a>
                    <a  routerLink="user/profile" class="ms-4 relative bg-[#fb6d3a] rounded text-white w-[40px] h-[40px] flex items-center justify-center shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]">
                        <i class="fa-solid fa-user"></i>
                    </a>
                    <a routerLink="auth/sgin-in" class="ms-4 relative bg-[#fb6d3a] rounded text-white w-[40px] h-[40px] flex items-center justify-center shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </a>
                </div>
                <button class="ms-4 relative bg-[#fb6d3a] rounded text-white w-[40px] h-[40px] flex items-center justify-center shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]" (click)="changeLang(setLang === 'ar' ? 'en' : 'ar')">
                    {{ setLang === 'ar' ? 'EN' : 'AR' }}
                </button>
            </div>
        </div>
    </div>
</header>