<header class="p-[37px] lg:p-[10px] sm:p-[20px]">
    <div class="container relative z-30">
        <div class="flex items-center justify-between">
            <div class="logo">
                <img src="assets/img/logo.png" alt="">
            </div>
            <div>
                <ul class="flex items-center">
                    <li>
                        <a routerLink="" class="text-gray-400 mx-6 relative transition duration-500 hover:text-[#fb6d3a] after:block after:content-[''] after:absolute after:h-[2px] after:bg-[#fb6d3a] after:left-0 after:w-[50%] after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center">
                            Home
                        </a>
                    </li>
                    <li>
                        <a routerLink="" class="text-gray-400 mx-6 relative transition duration-500 hover:text-[#fb6d3a] after:block after:content-[''] after:absolute after:h-[2px] after:bg-[#fb6d3a] after:left-0 after:w-[50%] after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center">
                            About
                        </a>
                    </li>
                    <li>
                        <a routerLink="" class="text-gray-400 mx-6 relative transition duration-500 hover:text-[#fb6d3a] after:block after:content-[''] after:absolute after:h-[2px] after:bg-[#fb6d3a] after:left-0 after:w-[50%] after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center">
                            Categories
                        </a>
                    </li>
                    <li>
                        <a routerLink="" class="text-gray-400 mx-6 relative transition duration-500 hover:text-[#fb6d3a] after:block after:content-[''] after:absolute after:h-[2px] after:bg-[#fb6d3a] after:left-0 after:w-[50%] after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center">
                            Offers
                        </a>
                    </li>
                    <li>
                        <a routerLink="" class="text-gray-400 mx-6 relative transition duration-500 hover:text-[#fb6d3a] after:block after:content-[''] after:absolute after:h-[2px] after:bg-[#fb6d3a] after:left-0 after:w-[50%] after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center">
                            Blogs
                        </a>
                    </li>
                    <li>
                        <a routerLink="" class="text-gray-400 mx-6 relative transition duration-500 hover:text-[#fb6d3a] after:block after:content-[''] after:absolute after:h-[2px] after:bg-[#fb6d3a] after:left-0 after:w-[50%] after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
            <div class="">
                <!-- <div class="">
                    <a routerLink="auth/sgin-in" class="ms-4 bg-black rounded text-white px-[20px] py-[5px] shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]">
                        Sgin In
                    </a>
                    <a routerLink="auth/sgin-up" class="ms-4 bg-[#fb6d3a] rounded text-white px-[20px] py-[5px] shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]">
                        Sgin Up
                    </a>
                </div> -->
                <div class="flex items-center">
                    <a routerLink="" class="ms-4 relative bg-black rounded text-white w-[40px] h-[40px] flex items-center justify-center shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="absolute top-[-5px] right-[-5px] rounded-full w-[17px] h-[17px] bg-white text-[#fb6d3a] text-[11px] flex items-center justify-center shadow-[0px_2px_3px_-1px_rgba(0,0,0,0.1),0px_1px_0px_0px_rgba(25,28,33,0.02),0px_0px_0px_1px_rgba(25,28,33,0.08)]">3</span>
                    </a>
                    <a routerLink="" class="ms-4 relative bg-[#fb6d3a] rounded text-white w-[40px] h-[40px] flex items-center justify-center shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>