<div class="w-full p-4">
  <div mat-dialog-content>
    <div class="border-b pb-5">
      <h4 class="font-bold text-[22px] text-black">
        {{ this.item.title }}
      </h4>
    </div>
    <form action="" class="py-4">
      <div class="mb-8 text-center">
        <div
          class="uploade-image m-auto d-flex align-items-center justify-content-center"
        >
          <div class="">
            <img
              [src]="this.item.item.thumbnail"
              class="w-[100px] h-[100px] rounded m-auto"
            />
            <label class="font-bold text-[15px]">{{
              "TABLE.Product_Image" | translate
            }}</label>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="" class="font-bold text-[15px] mb-2 block">{{ "TABLE.Product_Title" | translate }}</label>
        <input
          type="text"
          placeholder=""
          class="w-full px-2 h-[40px] border rounded"
          [value]="this.item.item.title"
          disabled
        />
      </div>
      <div class="mb-3">
        <label for="" class="font-bold text-[15px] mb-2 block">{{ "TABLE.Product_Price" | translate }}</label>
        <div class="relative">
          <input
            type="text"
            placeholder=""
            class="w-full px-2 h-[40px] border rounded"
            [value]="this.item.item.price"
            disabled
          />
          <span [ngClass]="setLang === 'ar' ? 'left-[10px]' : 'right-[10px]'" class="absolute top-[50%] translate-y-[-50%]">$</span>
        </div>
      </div>
      <div class="mb-3">
        <label for="" class="font-bold text-[15px] mb-2 block">{{ "TABLE.Section_Name" | translate }}</label>
        <input
          type="text"
          placeholder=""
          class="w-full px-2 h-[40px] border rounded"
          [value]="this.item.item.category"
          disabled
        />
      </div>
      <div class="mb-3">
        <label for="" class="font-bold text-[15px] mb-2 block">{{ "TABLE.Details" | translate }}</label>
        <textarea class="w-full p-2 h-[40px] border rounded min-h-[130px] resize-none" disabled>{{ this.item.item.description }}</textarea>
      </div>
    </form>
  </div>
  <div
    mat-dialog-actions
    class="flex !items-center !justify-center w-full max-w-full"
  >
    <button
      class="mx-2 relative bg-gray-500 rounded text-white w-[100px] h-[35px] flex items-center justify-center shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]"
      mat-dialog-close
      cdkFocusInitial
    >
      {{ "DIALOG.Cancel" | translate }}
    </button>
  </div>
</div>
