<!-- Slider Category -->
<app-slider-category [slide]="sliderImages"></app-slider-category>
<div class="container">
    <div class="">
        <div class="my-5 flex items-center justify-center overflow-x-auto overflow-y-hidden">
            <!-- Default All Item Category -->
            <app-item-category [item]="defaultItemCategory" (getValue)="onGetProductByCategory($event)"></app-item-category>
            <!-- All Items Categories -->
            <app-item-category *ngFor="let item of itemsCategories | async" [item]="item" (getValue)="onGetProductByCategory($event)"></app-item-category>
        </div>
        <!-- All Items Products -->
        <div class="grid justify-between md:grid-cols-1 lg:grid-cols-1 grid-cols-3 overflow-hidden relative z-10 pt-9">
            <app-item-product *ngFor="let item of itemsProducts | async" [item]="item"></app-item-product>
        </div>
        <!-- Empty Data When Not Products Data -->
        <app-empty-data *ngIf="(itemsProducts | async)?.length == 0"></app-empty-data>
    </div>
</div>