<div class="container">
    <app-slider-category [slide]="imageSlider"></app-slider-category>
    <div class="">
        <div class="flex items-center justify-between px-4">
            <h3 class="text-[23px]">{{ 'SELECT_FILTER.Categories' | translate }}</h3>
            <select class="border px-[5px] rounded-md w-[200px]" (change)="onSelectOption($event.target.value)">
                <option *ngFor="let option of options" value="{{ option.value }}" [selected]="option.value === 'all'">{{ option.name }}</option>
            </select>
        </div>
        <div class="grid justify-between md:grid-cols-1 lg:grid-cols-1 grid-cols-3 relative z-10 pt-9">
            <app-item-category *ngFor="let item of items | async" [item]="item"></app-item-category>
        </div>
        <app-empty-data *ngIf="(items | async)?.length == 0"></app-empty-data>
    </div>
</div>