<div class="py-5 my-5">
  <div class="container">
    <div *ngIf="cartProducts.length > 0">
      <table class="border-collapse border border-slate-500 w-full text-center">
        <thead>
          <tr class="bg-gray-200">
            <th class="border border-gray-300 p-3">{{ 'TABLE.Product_Number' | translate }}</th>
            <th class="border border-gray-300 p-3">{{ 'TABLE.Product_Image' | translate }}</th>
            <th class="border border-gray-300 p-3">{{ 'TABLE.Product_Title' | translate }}</th>
            <th class="border border-gray-300 p-3">{{ 'TABLE.Section_Name' | translate }}</th>
            <th class="border border-gray-300 p-3">{{ 'TABLE.Details' | translate }}</th>
            <th class="border border-gray-300 p-3">{{ 'TABLE.Setting' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartProducts">
            <td class="border border-gray-300 p-2">{{ item.id }}</td>
            <td class="border border-gray-300 p-2">
              <img
                [src]="item.thumbnail"
                class="w-[50px] h-[50px] rounded m-auto"
              />
            </td>
            <td class="border border-gray-300 p-2">{{ item.title }}</td>
            <td class="border border-gray-300 p-2">{{ item.category }}</td>
            <td class="border border-gray-300 p-2">
              <p class="max-w-[200px] line-clamp-1 m-auto">
                {{ item.description }}
              </p>
            </td>
            <td class="border border-gray-300 p-2">
              <div class="flex items-center justify-center">
                <button
                  (click)="onEditItem(item)"
                  class="mx-2 relative bg-[#fb6d3a] rounded text-white w-[35px] h-[35px] flex items-center justify-center shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]"
                >
                  <i class="fa-solid fa-pencil text-[12px]"></i>
                </button>
                <button
                  (click)="onRemoveItem(item)"
                  class="mx-2 relative bg-red-600 rounded text-white w-[35px] h-[35px] flex items-center justify-center shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]"
                >
                  <i class="fa-solid fa-trash text-[12px]"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-empty-data *ngIf="cartProducts.length == 0"></app-empty-data>
  </div>
</div>
