<footer class="py-6 border-t">
    <div class="container">
        <div class="flex items-center justify-between">
            <a routerLink="/">
                <img class="max-w-[100px]" src="assets/img/logo.png" alt="">
            </a>
            <ul class="flex items-center">
                <li><a href="" target="_blank" class="w-[33px] h-[33px] bg-black rounded-full flex items-center shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] justify-center text-white mx-1 text-[12px] transition hover:bg-[#fb6d3a]"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="" target="_blank" class="w-[33px] h-[33px] bg-black rounded-full flex items-center shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] justify-center text-white mx-1 text-[12px] transition hover:bg-[#fb6d3a]"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="" target="_blank" class="w-[33px] h-[33px] bg-black rounded-full flex items-center shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] justify-center text-white mx-1 text-[12px] transition hover:bg-[#fb6d3a]"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="" target="_blank" class="w-[33px] h-[33px] bg-black rounded-full flex items-center shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] justify-center text-white mx-1 text-[12px] transition hover:bg-[#fb6d3a]"><i class="fa-brands fa-google"></i></a></li>
                <li><a href="" target="_blank" class="w-[33px] h-[33px] bg-black rounded-full flex items-center shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] justify-center text-white mx-1 text-[12px] transition hover:bg-[#fb6d3a]"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
        </div>
    </div>
</footer>