@tailwind base;
@tailwind components;
@tailwind utilities;

// Font App
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

// Owl Carousel
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

// Style Scroll App
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

// Body App
body {
  font-family: "Cairo", sans-serif !important;
}

// html {
//   scroll-behavior: smooth;
// }

.over-scroll{
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
  contain: size style layout;
}


.bg-image {
  -webkit-animation: zoom-b 20s linear infinite alternate; /* Safari 4+ */
  -moz-animation:    zoom-b 20s linear infinite alternate; /* Fx 5+ */
  -o-animation:      zoom-b 20s linear infinite alternate; /* Opera 12+ */
  animation:         zoom-b 20s linear infinite alternate; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes zoom-b {
	0% {
    -ms-transform: scale(1, 1);
    transform: scale(1, 1) translateZ(1px);
  }
	100% {
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2) translateZ(1px);
  }
}

@-moz-keyframes zoom-b {
	0% {
    -ms-transform: scale(1, 1);
    transform: scale(1, 1) translateZ(1px);
  }
	100% {
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2) translateZ(1px);
  }
}

@-o-keyframes zoom-b {
	0% {
    -ms-transform: scale(1, 1);
    transform: scale(1, 1) translateZ(1px);
  }
	100% {
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2) translateZ(1px);
  }
}

@keyframes zoom-b {
	0% {
    -ms-transform: scale(1, 1);
    transform: scale(1, 1) translateZ(1px);
  }
	100% {
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2) translateZ(1px);
  }
}